@import "../../sass/abstract/variables";

.footer {
  flex: 0 1 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: $color-tertiary;

  &__logo {
    height: 24px;
  }
}
