@import "../../sass/abstract/variables";
@import "../../sass/abstract/mixins";

.home {
  &__container {
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex: 1 1 auto;
    height: 100%;

    @include respond(big) {
      width: 70%;
      margin: 12px auto;
    }
  }

  &__form {
    background-color: $color-grey-light-1;
    padding: 12px 24px;
    border-radius: 2px;
    box-shadow: $box-shadow-1;

    @include respond(big) {
      width: 50%;
      margin: 0 auto;
    }
  }

  button {
    margin: 0 auto;
  }

  &__output {
    margin: 18px auto;
    background-color: $color-secondary;
    padding: 0 24px 24px 24px;
    border-radius: 2px;
    box-shadow: $box-shadow-1;
    white-space: pre-wrap;
  }
}
