.center-text {
  text-align: center !important;
}
.m-0 {
  margin: 0 !important;
}
.mb-sm {
  margin-bottom: 1.5rem !important;
}
.mb-md {
  margin-bottom: 4rem !important;
}
.mb-lg {
  margin-bottom: 8rem !important;
}
.mb-xl {
  margin-bottom: 10rem !important;
}
.mt-sm {
  margin-top: 1.5rem !important;
}
.mt-md {
  margin-top: 4rem !important;
}
.mt-lg {
  margin-top: 8rem !important;
}
.mt-xl {
  margin-top: 10rem !important;
}

.m-sm {
  margin: 1.5rem !important;
}

.my-sm {
  margin: 1.5rem 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.card-1 {
  box-shadow: $box-shadow-1;
}

.card-2 {
  box-shadow: $box-shadow-2;
}

.card-3 {
  box-shadow: $box-shadow-3;
}

.card-4 {
  box-shadow: $box-shadow-4;
}

.card-5 {
  box-shadow: $box-shadow-5;
}
